* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.panel1 {
    background-color: #1F2937;
    height: 400px;
}

.panel1-content {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-top: 50px;
    gap: 200px;
}

.panel1-content-left {
    display: flex;
    flex-direction: column;
}

.panel-content-right {
    margin-right: 200px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    padding-top: 20px;
}

header ul {
    display: flex;
    gap: 25px;
    margin-right: 200px;
}

header ul li {
    font-size: 20px;
}

header a {
    text-decoration: none;
    color: white;
}

header li {
    list-style: none;
}

img {
    width: 500px;
    height: 260px;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    width: 100px;
    padding: 8px 4px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    background-color: #3882F6;
    color: #fff;
}

/**
panel 2 content
**/

.panel2 {
    height: 400px;
}

.panel2 h2 {
    text-align: center;
    color: black;
    margin-top: 40px;
    font-size: 30px;
}

.square {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.panel2-content {
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 40px;
    justify-content: center;
    gap: 10px; 
}

.square1, .square2, .square3, .square4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel2-content p {
    margin-left: 60px;
}

/**
Panel 3 Content 
**/

.panel3 {
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel3 p {
    margin-left: 300px;
    margin-right: 300px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

span {
    font-weight: bold;
    text-align: right;
    margin-left: 200px;
}

/**
Panel 4 content
**/

.panel4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.container {
    width: 800px;
    height: 100px;
    background-color: #3882F6;
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 10px;
}

.content button {
    border: 1px solid white;
}

.content button:hover{
    background-color: white;
    border: 1px solid #3882F6;
    color: #3882F6;
}

/**
Panel 5 Content
**/

footer {
    height: 100px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


